.project-container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  padding: 60px 20px;
}

.project-content {
  align-self: flex-end;
  max-width: 320px;
}

.project-content h3 {
  color: var(--color-c5);
  letter-spacing: 0.1em;
}

.project-content h1 {
  padding-top: 34px;
  padding-bottom: 24px;
}

.project-content p {
  padding-bottom: 70px;
  font-weight: 500;
}

.project-content p::after {
  content: '';
  height: 3px;
  width: 20px;
  background: var(--color-b1);
  display: block;
  margin-top: 20px;
  border-radius: 4px;
}

.project-content p:hover:after {
  content: '';
  height: 3px;
  width: 60px;
  background: var(--color-b1);
  display: block;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.project-image {
  max-width: 380px;
  padding-right: 60px;
}

.project-bg {
  background: linear-gradient(to right, var(--color-white) 20%, var(--color-c11) 0%);
}

.project-bg h3 {
  color: var(--color-c5);
  letter-spacing: 0.1em;
}

.project-bg h1 {
  color: var(--color-white);
  padding-top: 34px;
  padding-bottom: 24px;
}

.project-bg p {
  color: var(--color-c6);
  padding-bottom: 70px;
}

@media screen and (max-width: 800px) {
  .project-container h3 {
    font-size: 1rem;
  }

  .project-container h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .project-container p {
    font-size: 1rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .project-container {
    flex-direction: column;
  }
}