:root {
  --color-c12: #0B0C12;
  --color-c11: #15171f;
  --color-c10: #363B47;
  --color-c9: #474D59;
  --color-c8: #636973;
  --color-c7: #7E838C;
  --color-c6: #989EA6;
  --color-c5: #B2B8BF;
  --color-c4: #C0C5CC;
  --color-c3: #CED3D9;
  --color-c2: #E6EAF0;
  --color-c1: #f7f7f7;
  --color-white: #F5F7FA;

  --color-b1: #ED3674;
}