:root {
  --color-c12: #000;
  --color-c11: #111;
  --color-c10: #2E2E2E;
  --color-c9: #404040;
  --color-c8: #595959;
  --color-c7: #717171;
  --color-c6: #9c9c9c;
  --color-c5: #b2b2b2;
  --color-c4: #ccc;
  --color-c3: #dedede;
  --color-c2: #ededed;
  --color-c1: #f7f7f7;
  --color-white: #fff;

  --color-b1: #ED3674;
}