#dot {
  color: var(--color-b1);
}

.home-container {
  background: var(--color-c12);
  padding: 40px 20px;
  overflow-y: hidden;
}

.home-content {
  max-width: 1420px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-left-section, .home-right-section {
  flex: 1;
  margin-bottom: 60px;
}

.home-left-section {
  align-self: flex-end;
}

.home-left-section span {
  color: var(--color-c6);
}

.home-left-section h1 {
  color: var(--color-white);
  padding-bottom: 48px;
  padding-top: 24px;
}

.home-left-section p {
  color: var(--color-c5);
  margin-bottom: 24px;
}

.home-right-section {
  max-width: 900px;
  display: flex;
  align-items: center;
}

.home-right-section img {
  object-fit: cover;
  height: 600px;
  border-radius: 4px;
  padding-left: 28px;
}

.square {
  display: flex;
  max-width: 600px;
  opacity: 0;
  color: black;
}

.perspective {
  perspective: 7000px;

  animation: perspective 5s ease infinite alternate;
}

@keyframes perspective {
  0% {
    perspective: 400px;
  }
  50% {
    perspective: 700px;
  }
  100% {
    perspective: 600px;
  }
}

.card {
  width: 430px;
  height: 265px;

  background-image: url("../../img/id-card.svg");
  background-size: cover;

  transform-origin: center center;
  transform-style: preserve-3d;

  transform: rotateY(-30deg) rotateX(10deg);

  background-color: transparent;

  animation: card 5s ease infinite alternate;
}

@keyframes card {
  0% {
    transform: rotateY(10deg) rotateX(3deg) rotate(0deg);
  }
  50% {
    transform: rotateY(40deg) rotateX(-15deg) rotate(10deg);
  }
  100% {
    transform: rotateY(-40deg) rotateX(15deg) rotate(-10deg);
  }
}

@media screen and (max-width: 850px) {
  .home-left-section span {
    font-size: 18px;
  }
  
  .home-left-section h1 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 24px;
    padding-top: 8px;
  }

  .home-left-section p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 12px;
  }

  .home-right-section img {
    object-fit: cover;
    height: 400px;
    border-radius: 4px;
    padding-left: 28px;
  }
}