.header-container {
  background: var(--color-c12);
}

.header-content {
  height: 80px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content img {
  max-width: 30px;
}
