.about-bg {
  padding: 100px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin: 0 auto;
}

.about-content {
  padding: 20px;
  align-self: flex-start;
  max-width: 600px;
}

.about-content h1 {
  color: var(--color-c12);
  padding-bottom: 24px;
}

.about-content p {
  color: var(--color-c8);
  font-weight: 500;
}

.about-content ul {
  color: var(--color-c8);
  padding-top: 60px;
}

.about-content ul li {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.about-content ul li img {
  padding-right: 12px;
}

.about-image {
  object-fit: cover;
  width: 100%;
  padding-right: 20px;
  padding-left: 60px;
}

.cv-box {
  background: var(--color-b1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 30px;
  transition: 0.3s ease-in-out;
}

.cv-box h1 {
  font-weight: 500;
  padding-top: 40px;
  color: var(--color-white);
}

.cv-box:hover {
  font-weight: 500;
  cursor: pointer;
  opacity: 0.8;
}