.section-whoami-container {
  background: var(--color-c12);
  padding: 120px 24px;
}

.section-whoami {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}

.section-whoami-left,
.section-whoami-right {
  flex: 1;
}

.section-whoami-left span {
  text-transform: uppercase;
  color: #989EA6;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 300;
}

.section-whoami-left h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 24px;
}

.section-whoami-left p {
  color: #989EA6;
  font-size: 20px;
  line-height: (20px * 1.5);
  font-family: 'Poppins';
  padding-bottom: 120px;
}

.section-whoami-left img {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}

.section-whoami-left ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-whoami-left ul li {
  color: #CED3D9;
  margin-left: 24px;
  font-family: 'Poppins';
  font-size: 1rem;
}


.dot {
  color: var(--color-b1);
  font-weight: bold;
}

@media screen and (max-width: 1110px) {
  .section-whoami {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .section-whoami-right {
    width: 100%;
    height: 640px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-whoami-right img {
    object-fit: cover;
    height: 100%;
  }
}